:root {
  --main-bg-color: rgb(20, 42, 60);
  --text-color: rgb(253, 242, 217);
  --bubble-size: 170px;
}

@keyframes bubble {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background: var(--main-bg-color);
}

.header {
  margin: 2px;
}

.section {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20vw;
  height: 100vh;
}

.section--dark {
  background: var(--main-bg-color);
}

.section--light {
  background: var(--text-color);
  overflow: hidden;
}

.bubble {
  content: "";
  position: absolute;
  width: var(--bubble-size);
  height: var(--bubble-size);
  border-radius: 50%;
  background: radial-gradient(circle at bottom, rgba(20, 42, 60, 1) 0%, rgba(253, 242, 217, 1) 100%);
  bottom: 0;
  animation: bubble 8s infinite;
}

.bubble--center {
  left: calc(50% - var(--bubble-size)/2);
}

.bubble--left {
  left: calc(30% - var(--bubble-size)/2);
  animation-duration: 7s; /* The bubble will appear less frequently */
}

.bubble--right {
  right: calc(30% - var(--bubble-size)/2);
  animation-duration: 9s; /* The bubble will appear even less frequently */
}

.bubble--extra--right {
  right: calc(87% - var(--bubble-size)/2);
  animation-duration: 12s; /* The bubble will appear less frequently */
}

.bubble--extra--left {
  left: calc(87% - var(--bubble-size)/2);
  animation-duration: 17s; /* The bubble will appear less frequently */
}

.text-dark {
  color: var(--main-bg-color);
}

.text-light {
  color: var(--text-color);
}

.textarea-field {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: var(--main-bg-color);
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 6px;
  outline: none;
  width: 90%;
  height: 20%;
  min-height: 25px;
  padding: 0.5em;
  caret-color: var(--main-bg-color);
  resize: none;
  overflow: auto;
}

.input-field:focus {
  caret-color: var(--main-bg-color);
}

.submit-button {
  background-color: var(--main-bg-color); /* Use your page's main color */
  color: var(--text-color); /* Use your page's text color */
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.6;
  outline: none;
}

.submit-button:hover {
  background-color: rgb(204, 197, 180); /* A lighter shade for hover effect */
  color: var(--main-bg-color);
  opacity: 0.7;
}

.submit-button:active {
  background-color: rgb(204, 197, 180); /* A lighter shade for active effect */
  color: var(--main-bg-color);
  transform: translateY(2px); /* Gives a sense of button being pressed */
  opacity: 0.6;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.fade-in-later {
  animation: fadeIn 2s forwards;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: .8; }
}

.fade-out {
  animation: fadeOut 2s forwards;
  animation-delay: 4s;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0.2; }
}
